# packages #
############
*.rar
*.zip

# document formats #
####################
*.doc
*.docx

# specific data formats #
#########################
*.csv
*.xlsx
*.xls
*.dta

# notebook formats #
####################
*.ipynb_checkpoints

# R history, R project files # 
##############################
*.Rhistory
*.Rproj
.Rproj.user/

# specific folder paths #
blog/